# Зависимости, которые устанавливаются внутри контейнера
node_modules

# Логи и временные файлы
*.log
npm-debug.log

# Системные и IDE-файлы
.git
.gitignore
.dockerignore
Dockerfile
.idea
.vscode

# Файлы окружения (их нужно передавать в контейнер отдельно)
.env

# Папка с результатами сборки (если сборка происходит в контейнере)
dist
build