services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: oim
      POSTGRES_PASSWORD: oim3003
      POSTGRES_DB: postgres_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: oim
      MINIO_ROOT_PASSWORD: oim30033003
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: oim
      RABBITMQ_DEFAULT_PASS: oim3003
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
  gateway:
    build: ./backend/gateway
    ports:
      - "8000:8000"
    container_name: gateway
    restart: always
    depends_on:
      - db
      - rabbitmq
      - minio
    environment:
      DATABASE_URL: "postgresql+psycopg2://oim:oim3003@db:5432/postgres_db"
      RABBITMQ_URL: "amqp://oim:oim3003@rabbitmq:5672/"
      MINIO_ENDPOINT: "http://minio:9000"
      MINIO_ACCESS_KEY: "oim"
      MINIO_SECRET_KEY: "oim30033003"
  worker:
      build: ./backend/worker
      ports:
        - 8001:8001
      container_name: worker
      restart: always
      depends_on:
        - db
        - rabbitmq
        - minio
      environment:
        DATABASE_URL: "postgresql+psycopg2://oim:oim3003@db:5432/postgres_db"
        RABBITMQ_URL: "amqp://oim:oim3003@rabbitmq:5672/"
        MINIO_ENDPOINT: "http://minio:9000"
        MINIO_ACCESS_KEY: "oim"
        MINIO_SECRET_KEY: "oim30033003"
  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:80"

volumes:
  postgres_data:
  minio_data:
  rabbitmq_data: