/*
Основные компоненты
*/
:root {
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: var(--font-family);
}
/*
body
*/
.app-header {
    text-align: center;

    border: 3px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.app-main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-footer {
    text-align: center;

    border: 3px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*
Контейнеры
*/
.converter-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid black;
    border-radius: 15px;
    background-color: rgb(251, 233, 212);
}

.dropzone {
    margin: 1em;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    border: 5px solid rgb(92, 87, 80);
    border-radius: 15px;
    background-color: rgb(249, 206, 153);

    cursor: pointer;
    transition: border-color 0.3s ease;
}

.dropzone:hover {
    border-color: rgb(238, 226, 209);
}

#converter-form {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: space-around;

    list-style: none;
}

/*
Inline
*/

.file-info {
    font-weight: bold;
}

.btn {
    margin: 1em;
    padding: 3%;

    text-align: center;
    border: 5px solid rgb(92, 87, 80);
    border-radius: 15px;
    background-color: rgb(249, 206, 153);

    font-size: 1em;

    cursor: pointer;
    transition: border-color 0.3s ease;
}

.btn:hover {
    border-color: rgb(238, 226, 209);    
}

.social-link {
    text-decoration: none;
    color: inherit;
}